.mini-alert-backdrop {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-alert {
  min-width: 200px;
  max-width: 500px;
  padding: 2rem;
  border-radius: 8px;

  background-color: #fff;
  box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.2);
}

.mini-alert-content {
  text-align: center;
}

.mini-alert-title {
  margin: 0;
}
.mini-alert-message {
  margin: 2rem;
}
.mini-alert--close-btn {
}
